
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HousingNext</title>
<link type="text/css" rel="stylesheet" href="resources/css/loadData.css" />
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
<script type="text/javascript" src="resources/js/jquery-2.1.4.min.js"></script>
</head>

<body>

<div class="container" ng-app="housingApp" ng-controller="housing_home_Ctrl">
	<div class="listHomeData" ng-repeat="home in list_of_homes">
      <div class="homeDetails">
      <div class="homeimg"><img src="{{home.image}}" height="100%" width="100%;"/></div>
      <div class="data">
		 	<label>Apartment</label>
        	<div class="homeTitle">{{home.apartment}}</div>
            <div class="clear"></div>
			<label>Address</label>
            <div class="homeDesc">{{home.address}}</div>
            <div class="clear"></div>
			<label>Cost</label>
            <div class="homePrice">{{home.cost}}</div>
            <div class="clear"></div>
            <input type="button" value="Contact Agent" class="contactAgentBtn" ng-click="" />
            <div class="clear"></div>
         </div>   
		</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
	<div align="center" class="pageNo">    	
        <input type="button" class="prePageNo" ng-click="showPreRecords()" value="<" />
        <input type="button" class="nextPageNo" ng-click="showNextRecords()" value=">" />
    </div>    
    <div class="clear"></div>
</div>

<script>

var housingApp = angular.module('housingApp',[]);
housingApp.controller('housing_home_Ctrl', function($scope, $http) {
	//alert(window.localStorage.svPlace);
	$scope.pageNum = 1;
	var city = window.localStorage.cityname;
	var apart = window.localStorage.apart;
	var cost = window.localStorage.cost;
	$http.get("api/index_db.php?action=Buyers&city="+city+"&cost="+cost+"&apart="+apart+"&pageNo="+$scope.pageNum).success(function(response){
		this.response=response;
		
		$scope.list_of_homes = response;
		//$('.container').append(response);
	
	});
	
			
	$scope.showNextRecords = function() {
		$scope.pageNum = $scope.pageNum + 1;
		$http.get("api/index_db.php?action=Buyers&city="+city+"&cost="+cost+"&apart="+apart+"&pageNo="+$scope.pageNum).success(function(response){
			$scope.list_of_homes = response;
			//alert($scope.pageNum);
		});
  	};
	
	$scope.showPreRecords = function() {
		$scope.pageNum = $scope.pageNum - 1;
		$http.get("api/index_db.php?action=Buyers&city="+city+"&cost="+cost+"&apart="+apart+"&pageNo="+$scope.pageNum).success(function(response){
			$scope.list_of_homes = response;
		});
  	};
	
});


</script>

</body>
</html>
