@charset "utf-8";
/* CSS Document */

body{padding:0; margin:0; background:url(../images/home.jpg?v=13) no-repeat;}
.clear{clear:both;}
.homeContainer{width:100%; margin:auto;}
.filters{width:1200px; margin:200px auto; }
.txtPlace{width:300px; height:47px; background:#fff; border:1px solid #999; color:#000; font-size:18px; float:left; cursor:pointer; padding-left:20px;}
.btnSearch{width:150px; height:50px; background:red; border:none; color:#fff; font-size:18px; float:left; cursor:pointer;}
.logo{font-size:40px; color:#fff; margin:40px auto; text-align:center;}