@charset "utf-8";
/* CSS Document */

body{padding:0; margin:0;}
.clear{clear:both;}
.container{width:100%; max-width:1280px; margin:auto;}
.listHomeData{width:100%; max-width:900px;  padding:10px; border:1px solid #999; margin:10px auto;}
.homeImg{width:220px; height:220px; float:left; }
.homeDetails{float: left; margin-left:20px; width:40%; padding-left:20px; margin-bottom:10px; display:inline-flex;}
.homeTitle{font-size:20px; margin-bottom:10px;}
.homeDesc{font-size:15px; margin-bottom:10px;}
.homePrice{font-size:20px; margin-bottom:20px;}
.nextPageNo,.prePageNo{width:40px; height:30px; background:#93F; color:#fff; text-align:center; float:left; margin:20px; cursor:pointer; padding-top:10px;}
.pageNo{max-width:200px; margin:auto;}
.homeimg{height:210px; width:350px; float:left;}
.data{float:left; margin-left:10px;};